#degreee {
    position: absolute;
    bottom: 0;
    width : 100%;
    font-size: 3em;
    margin: 0;
    display: none;
}
#degreee img {
    transform: rotate(0);
    display: inline;
    opacity: 0.9;
}
#degreee a#left img {
    margin-right: 20px;
    -moz-transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
    -o-transform: scaleX(-1);
    transform: scaleX(-1);
    -ms-filter: fliph;
    filter: fliph;
}
.single-img {
    position: relative;
}
.single-img:hover #degreee {
    display: inline;
}
